html, body {
    display: block;
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
    margin: 0px;
    background-color: rgb(201, 245, 201);
    color: rgb(36, 51, 20);
    font-size: 120%;
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    height: 100;
}

#MainWrapper {
    margin: 1rem;
    bottom: 3rem;
}

#Forum {
    overflow-y: auto;
    position: absolute;
    width: 100%;
    top: 64px;
    left: 0;
    bottom: 4.2rem;
}

#ControlPanel {
    position: fixed;
    bottom: 0.3rem;
}